<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="<%= BASE_URL %>favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico" type="image/x-icon" />

  <link rel="manifest" href="manifest.json">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="CUtils">
  <meta name="apple-mobile-web-app-title" content="CUtils">
  <meta name="theme-color" content="#20a6dc">
  <meta name="msapplication-navbutton-color" content="#20a6dc">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">

  <meta name="author" content="<%= VUE_APP_AUTHOR_NAME %>">
  <meta name="version" content="<%= VUE_APP_VERSION %>">

  <title>Condo Utilities</title>

  <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
  <script src="resources/first-input-delay.min.js" type="text/javascript"></script>
</head>

<body>
  <noscript>
    <strong>We're sorry but utilities doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
</body>

</html>