<template>
  <div class="dashboard">
    <div class="container">
      <section id="calendar" class="section">
        <div class="date-title">
          <input class="input" type="text" :value="formatDate" readonly />
        </div>
        <v-date-picker
          color="red"
          is-dark
          is-expanded
          is-inline
          :rows="$screens({ md: 2 }, 1)"
          :columns="$screens({ md: 2 }, 1)"
          :max-date="new Date()"
          :attributes="events"
          v-model="dates"
          mode="range"
        />
      </section>

      <section id="dashboard" class="section">
        <cu-dashtool class="dashtool" v-model="dashboard"></cu-dashtool>

        <div class="columns is-desktop">
          <div
            v-show="isTrue(dashboard.type.water)"
            :class="{
              column: true,
              'is-full-mobile': true,
              'is-half-desktop':
                isTrue(dashboard.type.water) &&
                isTrue(dashboard.type.electricity)
            }"
          >
            <div v-for="element in showElements" :key="element">
              <component
                :is="'cu-' + element"
                v-bind="{
                  title: 'Water',
                  datas: filterWaterByDate,
                  'chart-data': chart.trend.water.data,
                  options: chart.trend.options
                }"
              ></component>
            </div>
          </div>

          <div
            v-show="isTrue(dashboard.type.electricity)"
            :class="{
              column: true,
              'is-full-mobile': true,
              'is-half-desktop':
                isTrue(dashboard.type.water) &&
                isTrue(dashboard.type.electricity)
            }"
          >
            <div v-for="element in showElements" :key="element">
              <component
                :is="'cu-' + element"
                v-bind="{
                  title: 'Electricity',
                  datas: filterElectricityByDate,
                  'chart-data': chart.trend.electricity.data,
                  options: chart.trend.options
                }"
              ></component>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import _logger from "@/logger.js";
const logger = _logger.view.extend("dashboard");
import { mapState } from "vuex";

import DashTool from "@/components/DashTool";

import PriceTag from "@/components/PriceTag";
import Table from "@/components/Table";
import TrendChart from "@/components/TrendChart";

export default {
  name: "dashboard",
  components: {
    "cu-price": PriceTag,
    "cu-table": Table,
    "cu-trend": TrendChart,
    "cu-dashtool": DashTool
  },
  data() {
    const current = new Date();
    const first = new Date();
    first.setDate(1);

    const optional = (value, def) => {
      if (value === undefined || value === null) return def;
      return value;
    };

    return {
      dates: {
        start: first,
        end: current
      },
      dashboard: {
        type: {
          water: optional(localStorage.getItem("dashboard:type:water"), true),
          electricity: optional(
            localStorage.getItem("dashboard:type:electricity"),
            true
          )
        },
        component: {
          price: optional(
            localStorage.getItem("dashboard:component:price"),
            true
          ),
          table: optional(
            localStorage.getItem("dashboard:component:table"),
            true
          ),
          trend: optional(
            localStorage.getItem("dashboard:component:trend"),
            true
          )
        }
      },
      dashboardType: {},
      chart: {
        trend: {
          water: {
            data: {}
          },
          electricity: {
            data: {}
          },
          options: {
            responsive: true,
            responsiveAnimationDuration: 300,
            maintainAspectRatio: false,
            scales: {
              xAxes: [
                {
                  type: "time",
                  distribution: "linear",
                  time: {
                    unit: "hour",
                    minUnit: "minute",
                    displayFormats: {
                      hour: "D MMM (H:mm)"
                    }
                  }
                }
              ]
            }
          }
        }
      }
    };
  },
  computed: {
    ...mapState({
      waterList: state => state.water.list[state.location.name],
      electricityList: state => state.electricity.list[state.location.name]
    }),
    formatDate() {
      const options = {
        year: "numeric",
        month: "short",
        day: "numeric"
      };

      const day =
        Math.floor(
          (this.dates.end - this.dates.start) / (1000 * 60 * 60 * 24)
        ) + 1;

      return `${this.dates.start.toLocaleString(
        "en-US",
        options
      )} - ${this.dates.end.toLocaleString("en-US", options)} (${day} days)`;
    },
    filterWaterByDate() {
      return this.filterUtilitiesDate(
        this.$store.state.water.list[this.$store.state.location.name]
      );
    },
    filterElectricityByDate() {
      return this.filterUtilitiesDate(
        this.$store.state.electricity.list[this.$store.state.location.name]
      );
    },
    events() {
      const events = [];
      this.$store.state.water.list[this.$store.state.location.name].forEach(w =>
        events.push({
          dot: "blue",
          popover: {
            label: `Water ${w.number} units. (added by ${w.phone
              .substr(0, 8)
              .padEnd(12, "*")})`
          },
          dates: w.timestamp
        })
      );

      this.$store.state.electricity.list[
        this.$store.state.location.name
      ].forEach(w =>
        events.push({
          dot: "pink",
          popover: {
            label: `Electricity ${w.number} units. (added by ${w.phone
              .substr(0, 8)
              .padEnd(12, "*")})`
          },
          dates: w.timestamp
        })
      );
      return events;
    },
    showElements() {
      return Object.keys(this.dashboard.component).filter(
        k =>
          this.dashboard.component[k] === true ||
          this.dashboard.component[k] === "true"
      );
    }
  },
  watch: {
    dashboard: {
      deep: true,
      immediate: true,
      handler: function(newValue) {
        logger(`dashboard has been updated to %O`, newValue);

        Object.keys(newValue).forEach(key => {
          Object.keys(newValue[key]).forEach(key2 => {
            localStorage.setItem(
              `dashboard:${key}:${key2}`,
              newValue[key][key2]
            );
          });
        });
      }
    },
    filterWaterByDate(newValue) {
      logger(`New water filter has been updated %O`, newValue);
      this.updateChart();
    },
    filterElectricityByDate(newValue) {
      logger(`New electricity filter has been updated %O`, newValue);
      this.updateChart();
    }
  },
  methods: {
    updateChart() {
      logger("Start update chart");

      const waterData = this.filterWaterByDate.map(w => ({
        t: w.timestamp,
        y: w.number
      }));
      logger("Updated water data is %O", waterData);

      const electricityData = this.filterElectricityByDate.map(w => ({
        t: w.timestamp,
        y: w.number
      }));
      logger("Updated electricity data is %O", electricityData);

      this.chart.trend.water.data = {
        datasets: [
          {
            label: "Water",
            backgroundColor: "transparent",
            borderColor: "blue",
            data: waterData
          }
        ]
      };

      this.chart.trend.electricity.data = {
        datasets: [
          {
            label: "Electricity",
            backgroundColor: "transparent",
            borderColor: "pink",
            data: electricityData
          }
        ]
      };
    },
    dateWithoutTime(date) {
      const _current = new Date(date);

      _current.setHours(0, 0, 0, 0);
      return _current;
    },
    isDateBetween(start, current, end) {
      return start <= current && current <= end;
    },
    isTrue(value) {
      return value === true || value === "true";
    },
    filterUtilitiesDate(list) {
      const start = this.dateWithoutTime(this.dates.start);
      const end = this.dateWithoutTime(this.dates.end);
      return list.filter(w => {
        const current = this.dateWithoutTime(w.timestamp);
        return this.isDateBetween(start, current, end);
      });
    }
  },
  mounted() {
    this.updateChart();
  }
};
</script>

<style lang="scss" scoped>
.dashtool {
  margin-bottom: 44px;
}

.date-title {
  margin-right: 18px;
  margin-left: 18px;

  margin-bottom: 24px;
}
</style>
