<template>
  <div class="container is-fluid">
    <div class="section">
      <cu-input
        :initial-number="latestElectricity"
        @input="submit"
        :number-query="latest"
      />
      <cu-error v-model="error" />
    </div>
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/database";

import logger from "@/logger.js";

import Input from "@/components/Input.vue";
import ErrorMessage from "@/components/ErrorMessage.vue";

export default {
  components: {
    "cu-input": Input,
    "cu-error": ErrorMessage
  },
  data() {
    return {
      latest: `electricity/latest`,
      error: undefined
    };
  },
  computed: {
    latestElectricity() {
      const w = this.$store.getters[this.latest][
        this.$store.state.location.name
      ];
      if (w) return w.number;
      else return 0;
    }
  },
  methods: {
    submit({ number, date }) {
      if (this.$store.getters["security/phone"]) {
        const location = this.$store.state.location.name;

        const db = firebase.database();
        db.ref(
          `${location}/electricity/${
            this.$store.getters[`electricity/nextID`][location]
          }`
        )
          .set({
            number,
            timestamp: date.getTime(),
            phone: this.$store.getters["security/phone"]
          })
          .then(() => {
            logger.utility("submit completed");
            this.$router.push({ name: "dashboard" });
          })
          .catch(e => {
            logger.error(e);
            this.error = e;
          });
      } else {
        const msg = "submit error (phone not found)";
        logger.utility(msg);
        this.error = new Error(msg);
      }
    }
  }
};
</script>
