<template>
  <div>
    <nav class="level">
      <div
        v-for="key in Object.keys(value.type)"
        :key="key"
        class="level-item has-text-centered"
      >
        <div class="field">
          <p class="heading">{{ key }}</p>
          <b-switch
            type="is-info"
            class="title"
            size="is-medium"
            v-model="value.type[key]"
            >{{ message("type", key) }}</b-switch
          >
        </div>
      </div>
    </nav>
    <nav class="level">
      <div
        v-for="key in Object.keys(value.component)"
        :key="key"
        class="level-item has-text-centered"
      >
        <div class="field">
          <p class="heading">{{ key }}</p>
          <b-switch
            type="is-success"
            class="title"
            size="is-medium"
            v-model="value.component[key]"
            >{{ message("component", key) }}</b-switch
          >
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
// import _logger from "@/logger.js";
// const logger = _logger.component.extend("dashtool");

const DEFAULT_SHOW_MESSAGE = "Show";
const DEFAULT_HIDE_MESSAGE = "Hide";

export default {
  props: {
    value: {
      type: Object,
      default: () => ({})
    }
  },
  methods: {
    message(type, key) {
      return this.value[type][key] === true || this.value[type][key] === "true"
        ? DEFAULT_SHOW_MESSAGE
        : DEFAULT_HIDE_MESSAGE;
    }
  }
};
</script>
