<template>
  <div class="error-container">
    <b-field v-if="showing" horizontal label="Error">
      <p class="control">
        {{ value }}
      </p>
    </b-field>
  </div>
</template>

<script>
import _logger from "@/logger.js";
const logger = _logger.component.extend("error-message");

export default {
  props: {
    value: {
      type: Error,
      default: () => undefined
    }
  },
  data() {
    return {
      error: this.value,
      showing: this.value !== undefined
    };
  },
  watch: {
    value(newValue) {
      if (newValue) {
        logger("New error occurred");
        this.startError();
        setTimeout(() => {
          this.resetError();
        }, 5000);
      }
    }
  },
  methods: {
    startError() {
      this.showing = true;
      this.error = this.value;
    },
    resetError() {
      this.showing = false;
      this.$emit("input", undefined);
    }
  }
};
</script>

<style scoped>
.error-container {
  margin-top: 30px;
}
</style>
