<template>
  <section>
    <b-field horizontal label="Input" message="Current unit">
      <b-numberinput
        expanded
        :min="initialNumber"
        step="0.0001"
        controls-position="compact"
        v-model="number"
      ></b-numberinput>
    </b-field>

    <b-field horizontal label="From" message="the collect date">
      <b-datepicker
        editable
        v-model="timestamp"
        placeholder="Click to select..."
      >
        <button class="button is-primary" @click="timestamp = new Date()">
          <b-icon icon="calendar-today"></b-icon>
          <span>Today</span>
        </button>

        <button class="button is-danger" @click="timestamp = null">
          <b-icon icon="close"></b-icon>
          <span>Clear</span>
        </button>
      </b-datepicker>
    </b-field>

    <b-field horizontal message="the collect time">
      <b-timepicker
        v-model="timestamp"
        placeholder="Click to select..."
        editable
      >
        <button class="button is-primary" @click="timestamp = new Date()">
          <b-icon icon="clock"></b-icon>
          <span>Now</span>
        </button>

        <button class="button is-danger" @click="timestamp = null">
          <b-icon icon="close"></b-icon>
          <span>Clear</span>
        </button>
      </b-timepicker>
    </b-field>

    <b-field horizontal>
      <p class="control">
        <button @click="submit" class="button is-primary">
          Submit
        </button>
      </p>
    </b-field>
  </section>
</template>

<script>
// Events:
//  1. @input: ({number, date}) => {}

import _logger from "@/logger.js";
const logger = _logger.component.extend("input");

export default {
  props: {
    initialNumber: {
      type: Number,
      default: 0
    },
    initialDate: {
      type: Date,
      default: () => new Date()
    },
    numberQuery: {
      type: String,
      default: ""
    }
  },
  data() {
    logger(`Initial number is ${this.initialNumber}`);
    logger(`Initial date is ${this.initialDate}`);

    return {
      number: this.initialNumber,
      timestamp: this.initialDate
    };
  },
  computed: {
    location() {
      return this.$store.state.location.name;
    },
    latest() {
      logger("Get latest via %s", this.numberQuery);
      return this.$store.getters[this.numberQuery][this.location];
    }
  },
  watch: {
    location: {
      handler: function() {
        logger(`Location has been updated`);
        logger(this.$store.getters[this.numberQuery]);
      }
    },
    latest: {
      immediate: true,
      handler: function(newValue) {
        if (!newValue) return;

        logger(`Input number has been updated to %O`, newValue);
        this.number = newValue.number;
        // this.timestamp = newValue.timestamp;
      }
    }
  },
  methods: {
    submit() {
      logger(`User click input`);
      this.$emit("input", { number: this.number, date: this.timestamp });
    }
  }
};
</script>
