<template>
  <section class="price-title">
    <h1 :id="title" class="title">{{ title }}</h1>
    <h3 class="subtitle">{{ unit }} Units ({{ price }} THB)</h3>
  </section>
</template>

<script>
import _logger from "@/logger.js";

const httpLogger = _logger.http;
const cacheLogger = _logger.cache;

const logger = _logger.component.extend("pricetag");
const error = _logger.error;

export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    datas: {
      type: Array,
      default: () => []
    }
  },
  data() {
    if (this.datas.length < 1) return { unit: 0, price: 0 };

    const unit = this.getTotalUnit(this.datas);
    return {
      unit,
      price: 0
    };
  },
  watch: {
    datas: {
      immediate: true,
      handler: function(newValue) {
        logger("utilities list has been updated");
        this.unit = this.getTotalUnit(newValue);

        this.fetchPrice(this.unit);
      }
    }
  },
  methods: {
    getTotalUnit(list) {
      if (!list || list.length < 1) return "0";

      const _unit = list[list.length - 1].number - list[0].number;
      logger("total unit of %O is %O", list, _unit);
      return _unit.toFixed(2);
    },
    fetchPrice(unit) {
      const type = this.title.substr(0, 1).toLowerCase();
      const result = localStorage.getItem(`price:${type}:${unit}`);
      if (result) {
        httpLogger("Price had been cached");
        cacheLogger(`${this.title} price of ${unit} unit`);
        this.price = result;
        return;
      }

      const url = new URL(
        "https://asia-northeast1-condo-utilities.cloudfunctions.net/calculate"
      );
      url.searchParams.append("type", type);
      url.searchParams.append("unit", unit);
      httpLogger("Start query from %O", url);

      fetch(url)
        .then(res => {
          httpLogger("Fetched total price");
          return res.json();
        })
        .then(json => {
          httpLogger("Passed to json object");
          this.price = json.result;

          localStorage.setItem(`price:${type}:${unit}`, this.price);
        })
        .catch(e => {
          error(e);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.price-title {
  margin-bottom: 22px;
}
</style>
