<template>
  <section>
    <b-table
      :data="datas"
      :paginated="true"
      :per-page="10"
      :bordered="false"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
      :mobile-cards="true"
    >
      <template slot-scope="props">
        <b-table-column field="timestamp" label="Date" centered>
          <span class="tag is-success"
            >{{ new Date(props.row.timestamp).toLocaleDateString() }}
          </span>
        </b-table-column>

        <b-table-column field="number" label="Number (Unit)">
          {{ props.row.number }}
        </b-table-column>

        <b-table-column field="phone" label="Owner phone number">
          {{ props.row.phone.substr(0, 8).padEnd(12, "*") }}
        </b-table-column>
      </template>

      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>
  </section>
</template>

<script>
export default {
  props: {
    datas: {
      type: Array,
      default: () => []
    }
  }
};
</script>
