<template>
  <div id="app">
    <div id="nav">
      <div class="logout">
        <a
          class="title"
          v-show="$store.getters['security/phone']"
          @click="logout"
          >{{ $store.getters["security/phone"] }}</a
        >
      </div>

      <div>
        <router-link class="subtitle" to="/">Dashboard</router-link> |
        <router-link class="subtitle" to="/water">Water</router-link> |
        <router-link class="subtitle" to="/electricity"
          >Electricity</router-link
        >

        <b-switch
          class="switch-component"
          size="is-small"
          @input="changeLocation"
          v-model="locationSwitch"
          true-value="condo"
          false-value="home"
        >
          {{ locationSwitch }}
        </b-switch>
      </div>
    </div>

    <router-view />

    <div
      v-if="!$store.state.security.authentication"
      id="firebaseui-auth-container"
    ></div>
  </div>
</template>

<script>
import _logger from "@/logger.js";
const logger = _logger.component.extend("default");

export default {
  data() {
    return {
      locationSwitch: "condo"
    };
  },
  methods: {
    changeLocation() {
      logger("toggle switch");
      this.$store.commit("location/set", this.locationSwitch);
    },
    logout() {
      this.$dialog.confirm({
        message: "Do you want to logout?",
        onConfirm: () => this.$router.replace({ name: "logout" })
      });
    }
  },
  created() {
    logger("App.vue create method");

    let location = localStorage.getItem("location");
    if (location) {
      _logger.location(`Initial location to ${location}`);
      this.locationSwitch = location;
      this.$store.commit("location/set", location);
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  text-align: center;
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.switch-component {
  margin-left: 12px;
}

.logout {
  margin-bottom: 8px;
}
</style>
